<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.splitfee.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Splitfee"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.main.MainActivity"
            android:label="Splitfee">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.addtrip.AddTripActivity"
            android:theme="@style/AppTheme.Dialog"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.splitfee.app.features.main.MainActivity" />
        </activity>

        <activity android:name=".features.tripdetail.TripDetailActivity"
            android:label=""/>

        <activity android:name=".features.addexpense.AddExpenseActivity"
            android:label=""/>

        <activity android:name=".features.summary.SummaryActivity"
            android:label="Summary" />

        <activity android:name=".features.settings.SettingsActivity"
            android:label="Settings" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0ab64bea47ca3f35dffbd2c94200fbc26be26009" />
    </application>

</manifest>
